@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Single:wght@100..900&family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Peralta&display=swap');


* {
    box-sizing: border-box;
}

body {
    background-color: #8e44ad;
    color: #fff;
    font-family: 'Bitcount Grid Single', monospace;
    display: flex;
    align-items: center;
    justify-items: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.counter-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 30px 50px;
    text-align: center;
}

.counter {
    font-size: 60px;
    margin-top: 10px;
}

@media(max-width: 580px){
    body{
        
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}