* {
    box-sizing: border-box;
}


body {
    background-color: steelblue;
    color: wheat;
    margin: 0;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.empty {
    height: 150px;
    width: 150px;
    margin: 15px;
    border: 3px solid black;
    background: white;

}

.hovered {
    background-color: #333;
    border-color: white;
    border-style: dashed;
}   

.fill {
    background-image: url('https://placebear.com/150/150');
    height: 145px;
    width: 145px;
    cursor: pointer;
    background-size: cover;
    background-position: center;
}

.hold {
    border: solid 5px #CCC;
}

@media(max-width:800px) {
    body {
        flex-direction: column;

    }
}