

* {
    box-sizing: border-box;
}


body {
    background-color: steelblue;
    color: wheat;
    margin: 0;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.empty {
    height: 150px;
    width: 150px;
    margin: 15px;
    border: 3px solid black;
    background: white;

}
.fill {
    background-image: url('https://source.unsplash.com/random/150x150');
    height: 145px;
    width: 145px;
    cursor: pointer;
}

@media(max-width:800px){
    body {
        flex-direction: column;

    }
}