* {
  box-sizing: border-box;
}

body {
  background-color: antiquewhite;
  font-family: monospace, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  overflow: hidden;
  flex-direction: column;
  margin: 0;

}

.key {
  border: 1px solid #999;
  background-color: #eee;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  display: inline-flex;
  align-items: center;
  font-size: 20px;
  padding: 20px;
  flex-direction: column;
  margin: 30px 20px;
  font-weight: bold;
  min-width: 150px;
  position: relative;
}
.key small {
  position: absolute;
  top: -24px;
  left: 0;
  text-align: center;
  width: 100%;
  color: #555;
  font-size: 16px;
}
