*{
    box-sizing: border-box;
}

body {
    background-color: #2b88f0;
    font-family: 'Lato', sans-serif;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden; 
}

h3 {
    color: #f1f1f1;
    margin: 20px 0 20px 0;
    text-align: center;
}

.container {
    text-align: center;
    width: 500px;

}

textarea {
    border: none;
    display: block;
    width: 100%;
    height: 100px;
    margin: 0 0 20px;
    font-family: inherit;
    font-size: 16px;
    padding: 10px;
}

.tag {
    background-color: #f0932b;
    color: white;
    padding: 10px 20px;
    margin: 0 5px 0 10px;
    font-size: 14px;
    display: inline-block;
    border-radius: 20px;
}
.tag.highlight {
    background-color: #6ab04c;
}