* {
    box-sizing: border-box;
}


body {
    margin: 0;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    color: #222;
    background-position: center center;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.4 ease;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.7);
    z-index: -1;
}

.slider-container {
    box-shadow: 0 3px 6px rgba(0,0,0,016), 0 3px 6px rgba(0,0,0,0.23);
    height: 70vh;
    width: 70vw;
    position: relative;
    overflow: hidden;
}

.slide {
    opacity: 0;
    height: 100vh;
    width: 100vw;
    background-position: center center;
    background-size: cover;
    position: absolute;
    top: -15vh;
    left: -15vw;
    transition: 0.4s ease;
    z-index: 1;
}

.slide.active {
    opacity: 1;
}

.arrow {
    position: fixed;
    background-color: transparent;
    padding: 20px;
    font-size: 30px;
    border: 2px solid orange;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    cursor: pointer;
}
.arrow:focus {
    outline: none;
}

.left-arrow {
    left: calc(15vw - 65px);
}
.right-arrow {
    right: calc(15vw - 65px);
}
